.card-block > img {
    width: 100%;
    object-fit: fill;
    min-width: 450px;
    min-height: 250px;
    max-width: 350px;
    max-height: 250px;

}

.card-block {
    border: 0px solid black;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
}


.card-info {
    padding: 25px;
    border-radius: 15px;
    border: 1;
}
