.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333538;
    align-items: center;
    padding: 15px 0px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerlink {
    text-decoration-color: transparent;
    color: white;
    transition: all 500ms;
    padding: 0px;
}

.footerlink:hover {
    text-decoration-color: white;
    font-weight: bolder;
}

.purple-extension {
    color: white;
    text-align: center;
    background-color: #A589FB;
    height: 20px;
    width: 100%;
    padding-bottom: 10px;
}