.container {
    inline-size: min(100% - 2rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: 15px;
}

.scroller {
    /* max-height: 120px; */
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.brew-card-link {
    padding: 15px;
    min-width: fit-content;
    min-height: fit-content;
    text-align: center;
    background-color: white;
}