/* .form {
    width: 380px;
    height: 480px;
} */

input {
    width: 100%;
    background: transparent;
    margin: 5px 0;
    padding: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    outline: none;
}

.tagholder {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}

.checkbox {
    width: 20px;
}

.errors {
    border: 2px solid #D03341;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px 10px;
}

.errors>* {
    color: #D03341;
}
