#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 22px;
    height: 100%;
}

.cardo {
    font-family: 'Cardo';
}

.about-link {
    padding-left: 10px;
    margin-top: 10px;
}

#main-content {
    width: 60%;
    margin-bottom: 400px;
}

.custom-shape-divider-bottom-1656629992 {
    position: absolute;
    bottom: 180px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656629992 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1656629992 .shape-fill {
    fill: #D03341;
}

.custom-shape-divider-bottom-1656635902 {
    position: absolute;
    bottom: 180px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656635902 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1656635902 .shape-fill {
    fill: #A589FB;
}
