#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 22px;
    height: 100%;
}
