#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 22px;
    height: 100%;
}

.cardo {
    font-family: 'Cardo';
}

.about-link {
    padding-left: 10px;
    margin-top: 10px;
}

#main-content {
    width: 60%;
    margin-bottom: 400px;
}
