

.brew-block {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
}

.brew-details-block {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 33%;
    min-width: 200px;

}

.brew-details-block > * {
    margin: 0;
    padding: 0;
}

.brew-title {
    margin: 0;
}

.center-image {
    width: 100%;
    min-width: 300px;
    height: auto;
    margin: auto;
}

.images-field {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img-button {
    border: none;
    color: white;
}

.listed-images {
    display: flex;
    flex-direction: column;
}

.user-snippet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}