.bottom-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttom-row {
    right: 0;
    align-content: flex-end;
    justify-self: end;
    align-self: flex-end;
}

.create-review-form {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    /* border: black 1px solid; */
}

.rating-input {
    width: 40px;
}

.review-container {
    border: black 1px solid;
}

.review-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-textarea {
    height: 100%;
    width:95%;
    border: none;
    font-family: 'Montserrat';
    font-size: 22px;
    color: #D03341;

}

.review-table {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
    margin-bottom: 10px;
}
