.bottom-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.bottom-text-details {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 25px;
}

.comment-content-box {
    margin-bottom: 10px;
}

.comment-content-box > p {
    padding: 0;
}

.create-review-form {
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    padding-right: 5px;
}

.header-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.input {
    display: flex;
    /* border: black 1px solid; */
}

.rating-input {
    width: 40px;
}

.review-content-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.review-container {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    padding-right: 5px;
}

.review-section-header {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.review-textarea {
    resize: none;
    height: 150px;
    width:100%;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Montserrat';
    font-size: 22px;
    color: black;

}

.review-table {
    margin-right: auto;
    gap: 10px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
    margin-bottom: 10px;
}


.star-rating > * {
    color: black;
    font-size: 30px;
}

.star-rating__star {
    color: black;
}

.user {
    font-weight: 900;
}

.date {
    font-size: .7em;
}