.create-review-form {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    /* border: black 1px solid; */
}

.rating-input {
    width: 40px;
}

.review-container {
    border: black 1px solid;
}

.review-textarea {
    height: 200px;
    width: 300px;
}

.review-table {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
}
